<div class="col-lg-12 search-form" id="search-form">
  <form>
    <div class="col-lg-4">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Find anything around you..." value="<%= @tpl_vars[:input_params]['term'] %>" name="search[term]" autofocus>
      </div>
    </div>
    <div class="col-lg-2 radius-wrapper">
      <div class="form-group">
        <select class="form-control" name="search[radius]">
          <% [
            {:val => 0, :name => 'Any distance'},
            {:val => 500, :name => '< 500m | ~0.3 mi'},
            {:val => 1000, :name => '< 1km | ~0.6 mi'},
            {:val => 3000, :name => '< 3km | ~1.8 mi'},
            {:val => 10000, :name => '< 10km | ~6 mi'}
            ].each do |option| %>
            <option <%= (option[:val].to_i > 0 && @tpl_vars[:input_params]['radius'].to_i == option[:val].to_i ? 'selected="selected"' : '')  %> value="<%= option[:val] %>"><%= option[:name] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-lg-2 sort-wrapper">
      <div class="form-group">
        <select class="form-control" name="search[sort]">
          <%[
            {:val => 'distance-asc', :name => 'Nearest first'},
            {:val => 'name-asc', :name => 'Alphabetically'},
            {:val => 'rand-rand', :name => 'Random'},
            ].each do |option| %>
            <option <%= @tpl_vars[:input_params]['sort'] == option[:val] ? 'selected="selected"' : ''  %> value="<%= option[:val] %>"><%= option[:name] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="search-btn-wrapper">
      <button type="submit" class="btn btn-success search-btn">Search</button>
    </div>
    <input type="hidden" name="search[offset]" value="0">
  </form>
</div>
