<% if 1 != @data[:data][:params][:append].to_i %>
<div class="col-lg-12">
    <div class="col-lg-6 search-info">
        <h2>Search results for '<%= @data[:data][:input_params][:term] %>'</h2>
        <% if @data[:data][:total_cnt] > @data[:data][:params][:step] %>
          <p>Showing first <b><%= ( @data[:data][:params][:limit] <= @data[:data][:total_cnt] ? @data[:data][:params][:limit] : @data[:data][:total_cnt] ) %></b> from <%= (@data[:data][:total_cnt] > @data[:data][:params][:step] ? 'approximately' : '') %> <b><%= @data[:data][:total_cnt] %></b> results. Search completed in <%= @data[:data][:total_time] %> s.</p>
        <% else %>
          <p>Showing <b><%= ( @data[:data][:params][:limit] <= @data[:data][:total_cnt] ? @data[:data][:params][:limit] : @data[:data][:total_cnt] ) %></b> results. Search completed in <%= @data[:data][:total_time] %> s.</p>
        <% end %>
    </div>
</div>
<% end %>
