<% if ! @data[:data][:params][:append] %>
  <div class="col-lg-12">
    <div class="col-lg-6">
      <h2>Search results for '<%= @data[:data][:input_params][:term] %>'</h2>
      <p>Showing first <b><%= @data[:data][:params][:limit] %></b> from total <b><%= @data[:data][:total_cnt] %></b> results. Search completed in <%= @data[:data][:total_time] %> s.</p>
    </div>
  </div>
<% end %>
<div class="col-lg-12">
  <% @data[:results].each do |result| %>
    <div class="col-lg-4 result-box origin-<%= result[:origin] %>">
      <h3 title="<%= result[:name] %>">
        <%= result[:name] %>
        <%= image_tag(result[:icon], class: 'result-icon', alt: 'Icon') if result[:icon] %>
        </h3>
        <%= image_tag result[:map] if result[:map] %>    
        <% if result[:pretty_loc] %>
          <span class="label label-default result-geometry">
            <%= result[:pretty_loc][:lat][0].to_s + '° ' + result[:pretty_loc][:lat][1].to_s + "' " + result[:pretty_loc][:lat][2].to_s + '" ' + result[:pretty_loc][:lat][3].to_s %>, 
            <%= result[:pretty_loc][:lng][0].to_s + '° ' + result[:pretty_loc][:lng][1].to_s + "' " + result[:pretty_loc][:lng][2].to_s + '" ' + result[:pretty_loc][:lng][3].to_s %> | 
            lat <%= result[:geometry][:lat].round(4).to_s + ', lng ' + result[:geometry][:lng].round(4).to_s %>
          </span>
        <% end %>
        <% if result[:distance] %>
          <span class="label label-danger"><%= result[:distance] %> m away</span>
          <span class="label label-primary">10 min walk</span>
          <span class="label label-info">3 min drive</span>
        <% end %>

        <% if result[:tags].is_a? Array %>
          <% result[:tags].each do |label| %>
            <span class="label label-success"><%= label %></span>
          <% end %>
        <% end %>

      </div>
    <% end %>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-lg-12 load-more text-center">
    <button class="btn btn-success">Show next <%= @data[:data][:params][:step] %> results </button>
  </div>