<%= render 'heading' %>
    <% @data[:results].each do |result| %>
        <div class="col-lg-12 result-box origin-<%= result[:origin] %>" data-result-json="<%= result[:json] %>" id="id-<%= result[:json_hash] %>">
            <div class="result-col result-col-first">
                <%= render 'search/result_map', :result => result %>
            </div>
            <div class="result-col result-col-second">
                <div class="result-row">
                    <%= render 'search/result_header', :result => result %>
                </div>
                <div class="result-row result-row-tags">
                    <%= render 'search/result_tags', :result => result %>
                </div>
                <div class="result-row result-row-location">
                    <%= render 'search/result_location', :result => result %>
                </div>
                <div class="result-row result-row-distance">
                    <%= render 'search/result_distance', :result => result %>
                    <!-- <%= render 'search/result_geometry', :result => result %> -->
                </div>
                <div class="result-row result-row-icons">
                      <%= render 'search/result_icons', :result => result %>
                </div>
            </div>
        </div>

        <div class="col-lg-12 result-divider">
            <hr>
        </div>
    <% end %>
<%= render 'more_btn' %>
