<% if ! @data[:data][:params][:append] %>
  <div class="col-lg-12">
    <div class="col-lg-6">
      <h2>Search results for '<%= @data[:data][:input_params][:term] %>'</h2>
      <p>Showing first <b><%= @data[:data][:params][:limit] %></b> from total <b><%= @data[:data][:total_cnt] %></b> results. Search completed in <%= @data[:data][:total_time] %> s.</p>
    </div>
  </div>
<% end %>
<div class="col-lg-12">
  <% @data[:results].each do |result| %>
    <div class="col-lg-4 result-box origin-<%= result[:origin] %>">
      <h3><%= result[:name] %></h3>
      <% if result[:tags].is_a? Array %>
        <% result[:tags].each do |label| %>
          <span class="label label-success"><%= label %></span>
        <% end %>
      <% end %>
      <% result %>
      <% if result[:map] %>
        <%= image_tag result[:map] %>
      <% end %>
      <% if result[:icon] %>
        <%= image_tag result[:icon] %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-lg-12">
  <hr>
</div>
<div class="col-lg-12 load-more text-center">
  <button class="btn btn-success">Show next <%= @data[:data][:params][:step] %> results </button>
</div>