<div class="col-lg-12 col-detail-top">
    <div class="distance-wrapper">
        <% if @data[:distance] != nil %>
        <div class="col-lg-4 result-distance">
            <div class="results-icon"><%= fa_icon("arrows-h") %></div>
            <%= DetailHelper.detail_pretty_distance(@data[:distance], @data[:distance_unit]) %>
            <i class="unknown-data fa fa-spinner fa-spin"></i>
        </div>
        <div class="col-lg-4 result-walking-distance">
            <div class="results-icon"><%= fa_icon("male") %></div>
            <%= DetailHelper.detail_pretty_distance_foot(@data[:distance]) %>
            <i class="unknown-data fa fa-spinner fa-spin"></i>
        </div>
        <div class="col-lg-4 result-car-distance">
            <div class="results-icon"><%= fa_icon("car") %></div>
            <%= DetailHelper.detail_pretty_distance_car(@data[:distance]) %>
            <i class="unknown-data fa fa-spinner fa-spin"></i>
        </div>
        <% end %>
    </div>
</div>
