<div class="col-lg-12 col-search-more">
    <h2 class="text-center">Search more about <%=@data[:name]%></h2>
    <hr>
    <div class="col-lg-3 col-lg-offset-3">
        <h3>Find on web</h3>
        <ul>
            <% search_query = u(@data[:name] + (@data[:address] ? ' ' + @data[:address] : '')) %>
            <li><a href="https://www.google.cz/?#q=<%= search_query %>">Google <%= fa_icon 'external-link' %></a></li>
            <li><a href="http://www.bing.com/search?q=<%= search_query %>">Bing <%= fa_icon 'external-link' %></a></li>
            <li><a href="https://search.yahoo.com/search?p=<%= search_query %>">Yahoo <%= fa_icon 'external-link' %></a></li>
            <li><a href="https://duckduckgo.com/?q=<%= search_query %>">DuckDuckGo <%= fa_icon 'external-link' %></a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h3>Find in maps</h3>
        <ul>
            <% search_loc = u(@data[:geometry] != nil ? @data[:geometry][:lat].to_s + ',' + @data[:geometry][:lng].to_s : (@data[:address].length > 1 ? @data[:address] : @data[:name])) %>
            <li><a href="https://maps.google.com?q=<%= search_loc %>">Google Maps <%= fa_icon 'external-link' %></a></li>
            <li><a href="http://www.bing.com/maps/?q=<%= search_loc %>">Bing Maps <%= fa_icon 'external-link' %></a></li>
            <li><a href="https://www.openstreetmap.org/search?query=<%= search_loc %>">Open Street Map <%= fa_icon 'external-link' %></a></li>
        </ul>
    </div>
</div>
