<div class="col-lg-12 col-search-more">
    <h2 class="text-center">Search more about <%=@data[:name]%></h2>
    <hr>
    <div class="col-lg-3 col-lg-offset-3">
        <h3>Find on web</h3>
        <ul>
            <li><a>Google <%= fa_icon 'external-link' %></a></li>
            <li><a>Bing <%= fa_icon 'external-link' %></a></li>
            <li><a>Duck Duck Go <%= fa_icon 'external-link' %></a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h3>Find in maps</h3>
        <ul>
            <li><a>Google Maps <%= fa_icon 'external-link' %></a></li>
            <li><a>Bing Maps <%= fa_icon 'external-link' %></a></li>
            <li><a>Open Street Map <%= fa_icon 'external-link' %></a></li>
        </ul>
    </div>
</div>
