<div id="detail-results" data-detail-json="<%= @data.to_json %>">
  <div class="col-lg-12 detail-header">
    <h1 class="text-center"><span class="detail-header-name"><%= @data[:name] %></span></h1>
    <hr>
  </div>
  <div class="col-lg-12">
    <div class="geometry-wrapper">
      <div class="col-lg-7 result-address">
        <div class="results-icon"><%= fa_icon("map") %></div>
        <% if @data[:address] %>
        <p class="detail-window-p">
          The place <%= @data[:name] %> is located at <b><%= @data[:address] %></b>.
        </p>
        <% else %>
        unknown address
        <% end %>
      </div>
      <div class="col-lg-5 result-geometry">
        <div class="results-icon"><%= fa_icon("map-marker") %></div>
        <% if @data[:pretty_loc] != nil && @data[:geometry] != nil %>
        <p class="detail-window-p">
          The GPS coordinates are<b>
            <% if @data[:pretty_loc].is_a?(String) %>
            <%= @data[:pretty_loc] %>
            <% else %>
            <%= @data[:pretty_loc][:lat][0].to_s + '°' %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lat][1].to_s + "'" %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lat][2].to_s + '"' %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lat][3].to_s %>,
            <%= @data[:pretty_loc][:lng][0].to_s + '°' %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lng][1].to_s + "'" %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lng][2].to_s + '"' %><span class='geospace'>&nbsp;</span><%= @data[:pretty_loc][:lng][3].to_s %>
            <% end %>
          </b>, alternatively <i>lat <%=@data[:geometry][:lat].round(6)%> lng <%=@data[:geometry][:lng].round(6)%></i>.
        </p>
        <% else %>
        <i class="unknown-data fa fa-spinner fa-spin"></i>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-lg-12">
    <div class="distance-wrapper">
      <% if @data[:distance] != nil %>
      <div class="col-lg-4 result-distance">
        <div class="results-icon"><%= fa_icon("arrows-h") %></div>
        <p class="detail-window-p">
          This place is approximately <b><%= DistanceHelper.pretty_distance(@data[:distance], @data[:distance_unit], 'km', true) %></b> away from your current location.
        </p>
      </div>
      <div class="col-lg-4 result-walking-distance">
        <div class="results-icon"><%= fa_icon("male") %></div>
        <p class="detail-window-p">
          If you are going by foot, you will be there approximately in <b><%= DistanceHelper.pretty_minutes(DistanceHelper.m_to_min(@data[:distance]), true) %></b>.
        </p>
      </div>
      <div class="col-lg-4 result-car-distance">
        <div class="results-icon"><%= fa_icon("car") %></div>
        <p class="detail-window-p">
          If you take the car, you will arrive in <b><%= DistanceHelper.pretty_minutes(DistanceHelper.car_m_to_min(@data[:distance]), true) %></b>.
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="contacts-wrapper">
      <div class="col-lg-4 result-phone">
        <div class="results-icon"><%= fa_icon 'phone' %></div>
        <p class="detail-window-p">
          <% unless @data[:phone] == nil %>
          You can contact this place by dialing <a href="tel:<%=@data[:phone]%>"><%=@data[:phone]%></a>.
          <% else %>
          Sorry, we could not find any phone contact. You could try <a href="https://www.google.com?#q=<%=@data[:name]%> phone">find it on Google</a>.
          <% end %>
        </p>
      </div>
      <div class="col-lg-4 result-email">
        <div class="results-icon"><%= fa_icon 'envelope' %></div>
        <p class="detail-window-p">
          <% unless @data[:email] == nil %>
          You can contact this place via e-mail address <a href="mailto:<%=@data[:email]%>"><%=@data[:email]%></a>.
          <% else %>
          Sorry, we could not find any e-mail contact. You could try <a href="https://www.google.com?#q=<%=@data[:name]%> e-mail">Googling it</a>.
          <% end %>
        </p>
      </div>
      <div class="col-lg-4 result-link">
        <div class="results-icon"><%= fa_icon 'link' %></div>
        <p class="detail-window-p">
          <% if @data[:detail][:website_url] %>
          The place homepage can be found <%= link_to 'here', @data[:detail][:website_url], :target => '_blank' %>.
          <% elsif @data[:detail][:url] %>
          More informations can be found on <%= link_to 'this', @data[:detail][:url], :target => '_blank' %> <i><%=@data[:origin]%></i> site.
          <% else %>
          Want little more informations? try <a href="https://www.google.cz/?#q=<%=@data[:name]%>">Google</a>, <a href="http://www.bing.com/search?q=<%=@data[:name]%>">Bing</a> or <a href="https://duckduckgo.com/?q=<%=@data[:name]%>">DuckDuckGo</a>.
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <% if @data[:tags].is_a? Array %>
    <div class="labels-wrapper">
      <div class="result-tags col-lg-6">
        <div class="results-icon"><%= fa_icon("tags") %></div>
        <p class="detail-window-p">
          This place is marked with the following tags:
          <% @data[:tags].each do |label| %>
          <a href="<%= tag_search_link(label) %>"><span class="label label-default"><%= label %></span></a>
          <% end %>
        </p>
      </div>
      <div class="result-star col-lg-6">
        <div class="results-icon"><a href="#" class="detail-fav-switch list-fav-switch <%= @data[:favorite] ? 'exists' : '' %>"><%= fa_icon( @data[:favorite] ? 'star' : 'star-o' ) %></a></div>
        <p class="detail-window-p">
          <% if @data[:favorite] %>

          <% else %>
          Clicking on this star will add this place to your <%= link_to 'favorite places list', controller: 'favorites', action: 'index' %>. After that, you can easily access the places you like from the <i>top menu</i>.
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-lg-12"><hr></div>
  <div class="col-lg-12"><div id="map_canvas"></div></div>
  <div class="col-lg-12 text-center">
    <h2 class="text-center">Share <%=@data[:name]%> with your friends</h2>
    <hr>
    <div class="col-lg-3 col-lg-offset-3 col-share-via-email">
      <form id="detail-share-via-email">
        <fieldset>
          <legend>
            Share via e-mail
          </legend>
          <input class="form-control" type="text" placeholder="your@email.com" value="" name="detailshare[email]">
          <button type="submit" class="btn btn-success">Send details via e-mail</button>
        </fieldset>
      </form>
    </div>
    <div class="col-lg-3 col-social-share">
      <div class="social-likes social-likes_vertical" data-counters="no" data-url="<% request.original_url %>">
        <div class="facebook" title="Share link on Facebook">Facebook</div>
        <div class="twitter" title="Share link on Twitter">Twitter</div>
        <div class="plusone" title="Share link on Google+">Google+</div>
        <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-search-more">
    <h2 class="text-center">Search more about <%=@data[:name]%></h2>
    <hr>
    <div class="col-lg-3 col-lg-offset-3">
      <h3>Search engines</h3>
      <ul>
        <li><a>Search on Google</a></li>
        <li><a>Search on Bing</a></li>
        <li><a>Search on DuckDuckGo</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h3>Maps</h3>
      <ul>
        <li><a>Search on Google Maps</a></li>
        <li><a>Search on Bing Maps</a></li>
        <li><a>Search on OpenStreet Map</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12 col-source">
    <hr>
    <p class="text-center">
      These informations were provided with the help of:<br />
      <%= image_tag 'powered-by-' + @data[:origin] + '.jpg', class: "powered-by-icon", title: "data loaded using " + @data[:origin].upcase + " API" %>
    </p>
  </div>
</div>
