<div id="detail-results" data-detail-json="<%= @data.to_json %>">

    <%= render 'notice' %>
    <%= render 'header' %>
    <%= render 'rating' %>
    <%= render 'location' %>
    <%= render 'distance' %>
    <%= render 'contact' %>
    <%= render 'tags_fav' %>
    <%= render 'permalink' %>
    <%= render 'map' %>
    <%= render 'share' %>
    <%= render 'search' %>
    <%= render 'origin' %>

</div>
