<div id="detail-results" data-detail-json="<%= @data.to_json %>">

    <%= render 'detail/notice' %>
    <%= render 'detail/header' %>
    <% if @data[:origin] == 'yelp' %>
        <%= render 'detail/rating_yelp' %>
    <% else %>
        <%= render 'detail/rating' %>
    <% end %>
    <%= render 'detail/location' %>
    <%= render 'detail/distance' %>
    <%= render 'detail/contact' %>
    <%= render 'detail/tags_fav' %>
    <%= render 'detail/map' %>
    <%= render 'detail/share' %>
    <%= render 'detail/search' %>

    <%= render 'detail/origin' %>

    <% unless 'permalinks' == controller_name %>
        <%= render 'detail/permalink' %>
    <% end %>
</div>
