<div id="detail-results" data-detail-json="<%= @data.to_json %>">

    <%= render 'detail/notice' %>
    <%= render 'detail/header' %>
    <%= render 'detail/rating' %>
    <%= render 'detail/location' %>
    <%= render 'detail/distance' %>
    <%= render 'detail/contact' %>
    <%= render 'detail/tags_fav' %>
    <%= render 'detail/permalink' %>
    <%= render 'detail/map' %>
    <%= render 'detail/share' %>
    <%= render 'detail/search' %>
    <%= render 'detail/origin' %>

</div>
