<h1>Navihub Data Sources</h1>
<p>
    Last update on March 15, 2016.
</p>
<hr>
<p>
    To provide you with the best possible user experience, we use miscellanous data sources to deliver the best search results.
    Apart from our own, we may partially deliver data from different sources, such as <%= link_to 'Foursquare', 'https://foursquare.com' %>, <%= link_to 'Google Places', 'http://places.google.com' %>, <%= link_to 'HERE', 'http://places.here.com' %> or <%= link_to 'Yelp', 'http://www.yelp.com' %>.
    In such case, the search result and the corresponding result detail page are marked with one of the following logotypes or icons:
</p>
<p class="text-center">
    Logotypes<br /><br />
    <%= image_tag 'powered-by/foursquare@2x.png', class: "", title: "Foursquare API logotype", onload: "this.width/=2;this.onload=null;" %><br /><br />
    <%= image_tag 'powered-by/google@2x.png', class: "", title: "Google Places API logotype", onload: "this.width/=2;this.onload=null;" %><br /><br />
    <%= image_tag 'powered-by/nokia@2x.png', class: "", title: "HERE API logotype", onload: "this.width/=2;this.onload=null;" %><br /><br />
    <%= image_tag 'powered-by/yelp@2x.png', class: "", title: "Yelp API logotype", onload: "this.width/=2;this.onload=null;" %><br /><br />
    Icons<br /><br />
    <%= image_tag 'powered-by/icon/foursquare@2x.png', title: 'Foursquare API icon', class: "", title: "Foursquare API icon", onload: "this.width/=2;this.onload=null;" %>
    <%= image_tag 'powered-by/icon/google@2x.png', title: 'Google Places API icon', class: "", title: "Google Places API icon", onload: "this.width/=2;this.onload=null;" %>
    <%= image_tag 'powered-by/icon/nokia@2x.png', title: 'HERE API icon', class: "", title: "HERE API icon", onload: "this.width/=2;this.onload=null;" %>
    <%= image_tag 'powered-by/icon/yelp@2x.png', title: 'Yelp API icon', class: "", title: "Yelp API icon", onload: "this.width/=2;this.onload=null;" %>
</p>
<p>
    If you see any of these images above on our site, we used the one displayed data source to deliver one particulate search result or detail.
</p>
<p>
    Apart from occasional using of the presented data sources, this application is not affiliated with, associated with nor endorsed by the companies providing these data sources.<br />
</p>
<p>
    <i>Foursquare, Google, Google Places, HERE, HERE Maps, Yelp</i> and their derivate names are registered trademarks of their respective owners.
</p>
<p>
    Every information which is provided by this website, from our or foreign data source, is provided "as is", without
    warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness
    for a particular purpose and noninfringement. In no event shall the Navihub website owner be liable for any claim,
    damaged or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in
    connection with the website use or other dealings in the website.
</p>
<hr>
<p>
    Effective date: January 1, 2016
</p>
<p class="pull-right">
    <i>Navihub.net team</i>
</p>
