<h1>Navihub Privacy Policy</h1>
<p>
    Last update on February 15, 2016.
</p>
<hr>
<p>
    This privacy policy discloses the privacy practices for <%= link_to 'navihub.net', @root_url %>.<br />
    This privacy policy applies solely to information collected by this web site.<br />
    It will notify you of the following:
</p>
<ol>
    <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
    <li>What choices are available to you regarding the use of your data.</li>
    <li>The security procedures in place to protect the misuse of your information.</li>
    <li>How you can correct any inaccuracies in the information.</li>
</ol>

<h2>Information Collection, Use, and Sharing</h2>
<p>
    We are the sole owners of the information collected on this site.
    We only have access to/collect information that you voluntarily give us:
</p>
    <ul>
        <li>via email,</li>
        <li>by filling <%= link_to 'feedback', controller: 'feedback' %> (or any other) contact form on this web page,</li>
        <li>by using <%= link_to 'registration form', controller: 'account', action: 'create' %> or by using any of the available <%= link_to 'social logins', controller: 'account', action: 'login' %>,</li>
        <li>
            <b>TODO: Geolokace, manuální nastavení lokace</b>
        </li>
        <li>or by any other direct contact from you.</li>
    </ul>
<p>
    We will not sell or rent this information to anyone.
</p>
<p>
    We will use your information to respond to you, regarding the reason you contacted us.
    We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to resolve a login issue.
</p>
<p>
    Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
</p>

<h2>Your Access to and Control Over Information</h2>
<p>
    You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the <%= link_to 'email address', 'mailto:hello@navihub.net' %> or <%= link_to 'feedback form', controller: 'feedback', action: 'index' %> accesible on our website:
</p>
<ul>
    <li>See what data we have about you, if any.</li>
    <li>Change/correct any data we have about you.</li>
    <li>Have us delete any data we have about you.</li>
    <li>Express any concern you have about our use of your data.</li>
</ul>
<p>
    If you are a <%= link_to 'registered user', controller: 'account', action: 'create' %>, you can also change/remove some of the informations yourself, in the <%= link_to 'account management', controller: 'account', action: 'index' %> section.
</p>

<h2>Security</h2>
<p>
    We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
</p>
<p>
    While we make our best to protect sensitive information transmitted online, we also protect your information offline. Except our system administrators, nobody is granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
</p>

<h2>Registration</h2>
<p>
    In order to use some advanced features of this website, a user must first complete the <%= link_to 'registration form', controller: 'account', action: 'create' %> or <%= link_to 'login via one of the social networks', controller: 'account', action: 'login' %>. During registration/login a user is required to give certain information (such as name and email address).
    This information is used to contact you about the products/services on our site in which you may have been interested, or to identify you in case of any troubles (forgotten password, etc.).
</p>

<h2>Links</h2>
<p>
    This web site contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
</p>

<h2>Surveys & Contests</h2>
<p>
    From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.
</p>

<h2 id="cookies">Cookies</h2>
<p>
    Our detailed Cookie Policy can be found <%= link_to 'here', controller: 'pages', action: 'cookie_policy' %>.
</p>

<h2>Updates</h2>
<p>
    Our Privacy Policy may change from time to time and all updates will be posted on this page.
</p>
<p class="strong">
    If you feel that we are not abiding by this privacy policy, you should contact us immediately via <%= link_to 'email', 'mailto:hello@navihub.net' %> or <%= link_to 'feedback form', controller: 'feedback', action: 'index' %>.
</p>

<hr>
<p>
    Effective date: January 1, 2016
</p>
<p class="pull-right">
    <i>Navihub.net team</i>
</p>
