<%= render 'mailer/header' %>

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hello, fellow <%= @page_name %> user</h3>
						<p class="lead"><%= 'Place detail: <a href="'.html_safe + @data[:url] + '">'.html_safe + @data[:name].to_s + '</a>'.html_safe %></p>
						<p>
							Someone (probably you) requested detailed information about the place <a href="<%= @data[:url] %>"><%= @data[:name] %></a> from the <%= link_to @page_name, {host: @host, controller: 'homepage'} %> website.
						</p>
						<% unless @data[:address] == nil %>
						<p>
							<b>The place address is:</b> <%=@data[:address]%>
							<% unless @data[:has_geometry] %>
							(<a href="https://www.google.com/maps/?q=<%=@data[:address]%>">find&nbsp;in&nbsp;maps</a>)
							<% end %>
						</p>
						<% end %>
						<% if @data[:has_geometry] %>
						<p>
							<b>GPS location:</b> <%= coords_to_dms(@data[:geometry][:lat], @data[:geometry][:lng]) %> (<a href="https://www.google.com/maps/?q=loc:<%=@data[:geometry][:lat]%>,<%=@data[:geometry][:lng]%>">open&nbsp;in&nbsp;maps</a>)
						</p>
						<% end %>
						<% unless @data[:tags] == nil || @data[:tags].length == 0 %>
						<p>
							Tags: <i><%= @data[:tags].join ', ' %></i>
						</p>
						<% end %>
						<p>
							This e-mail was sent to: <i><%= @recipient %></i>
						</p>
						<p>
							Search more about <%=@data[:name]%> at <a href="https://www.google.cz/?#q=<%=@data[:name]%>">Google</a>, <a href="http://www.bing.com/search?q=<%=@data[:name]%>">Bing</a> or <a href="https://duckduckgo.com/?q=<%=@data[:name]%>">DuckDuckGo</a>
						</p>
						<% unless @data[:email_map] == nil %>
						<p>
							<img src="<%=@data[:email_map]%>" />
						</p>
						<% end %>

						<%= render 'mailer/liketheapp' %>
						<%= render 'mailer/author' %>

					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<%= render 'mailer/footer' %>
