<p>Showing page <strong><%= @page %></strong> from <strong><%= (@cnt.to_f / @step.to_f).ceil %></strong>.</p>
<hr>
<ul class="recent-list">
    <% @links.each do |link| %>
    <li>
        <%= link_to(link[:title], link[:path], data: {no_turbolink: true}) %>
    </li>
    <% end %>
</ul>
<hr>
<ul class="pager">
    <% disabled = @page <= 1 %>
    <li class="previous <%= disabled ? 'disabled' : '' %>">
        <% if disabled %>
            <%= link_to('&larr; Newer'.html_safe, {controller: @controller, action: 'recent', page: (@page)}, data: {no_turbolink: disabled}) %>
        <% else %>
            <%= link_to('&larr; Newer'.html_safe, {controller: @controller, action: 'recent', page: (@page - 1)}) %>
        <% end %>
    </li>
    <% disabled = @page >= (@cnt.to_f / @step.to_f).ceil %>
    <li class="next <%= disabled ? 'disabled' : '' %>">
        <% if disabled %>
            <%= link_to('Older &rarr;'.html_safe, {controller: @controller, action: 'recent', page: (@page)}, data: {no_turbolink: disabled}) %>
        <% else %>
            <%= link_to('Older &rarr;'.html_safe, {controller: @controller, action: 'recent', page: (@page + 1)}) %>
        <% end %>
    </li>
</ul>
