<%= render 'layouts/navidog' %>
<footer>
    <div class="container footer">

        <div class="row">
            <div class="col-lg-12 col-lg-minimized">

                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#body" class="scroll-top">Back to top</a></li>
                    <li>&#169; <%= Date.today.strftime("%Y") %> <a href="http://www.petrnagy.cz/">Petr Nagy</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer">
        <div class="row">
            <div class="col-lg-4 footer-col">
                <div class="h4">My links</div>
                <ul class="list-unstyled list-vertical">
                    <li class=""><a href="http://www.petrnagy.cz">Petr Nagy</a></li>
                    <li class=""><a rel="nofollow" href="https://www.facebook.com/petr.nagy">Facebook</a> <i class="fa fa-facebook"></i></li>
                    <li class=""><a rel="nofollow" href="https://twitter.com/petrnagy">Twitter</a> <i class="fa fa-twitter"></i></li>
                    <li class=""><a rel="nofollow" href="https://plus.google.com/+PetrNagyCz">Google+</a> <i class="fa fa-google-plus"></i></li>
                    <li class=""><a rel="nofollow" href="http://cz.linkedin.com/in/petrnagy">LinkedIn</a> <i class="fa fa-linkedin"></i></li>
                    <li class=""><a rel="nofollow" href="http://petr-nagy.deviantart.com/">DeviantArt</a> <i class="fa fa-deviantart"></i></li>
                </ul>
            </div>
            <div class="col-lg-4 footer-col">
                <div class="more-space h4">My projects</div>
                <ul class="list-unstyled list-vertical">
                    <li class=""><a href="http://www.navihub.net/">Navihub</a> <small class="gray">&#8592; you are here</small></li>
                    <li class=""><a href="http://www.tomatoid.com/">Tomatoid</a></li>
                    <li class=""><a href="http://www.petrnagy.cz/#projects">Daily menu</a></li>
                    <li class=""><a href="http://www.petrnagy.cz/#projects">EventCal</a></li>
                    <li class=""><a href="http://www.petrnagy.cz/#projects">Shitlib</a></li>
                    <li class=""><a href="http://blog.petrnagy.cz/">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-4 footer-col">
                <div class="more-space h4">Work with me</div>
                <p class='hire-me'>I am currently <span class='busy'>busy</span>.<br />
                    For more details,<br />
                    please <a href='http://www.petrnagy.cz/#contact'>contact me</a>. <br />
                </p>
                <p class='my-cv'>My CV: <a href='http://www.petrnagy.cz/wp-content/uploads/2015/09/NagyPetr_CV_en.pdf'>English</a> | <a href='http://www.petrnagy.cz/wp-content/uploads/2015/09/NagyPetr_CV_cz.pdf'>Czech</a></p>
            </div>
        </div>
        <hr class="footer">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center disclaimer gray">
                    Made with <del class="f-love">love</del> <span class="f-coffee">coffee</span> and <span class="f-sleepless">sleepless</span> <span class="f-nights">nights</span> by <%= link_to 'Petr Nagy', 'http://www.petrnagy.cz' %>.
                </p>
                <p class="text-center small footer-images gray">
                    <%= link_to 'About', '/pages/about', data: { no_turbolink: true } %> ~
                    <%= link_to 'Feedback', controller: "feedback", action: "index" %> ~
                    <%= link_to 'Blog', '/blog', data: { no_turbolink: true } %> ~
                    <%= link_to 'Terms', '/pages/terms-of-use', data: { no_turbolink: true } %> ~
                    <%= link_to 'Privacy', '/pages/privacy-policy', data: { no_turbolink: true } %> ~
                    <%= link_to 'Cookies', '/pages/cookie-policy', data: { no_turbolink: true } %> ~
                    <%= link_to 'Data Sources', '/pages/data-sources', data: { no_turbolink: true } %>
                </p>
                <p class="text-center small footer-images gray">
                    <%= link_to 'Recently searched', controller: 'search', action: 'recent' %> ~
                    <%= link_to 'Latest details', controller: 'detail', action: 'recent' %> ~
                    <%= link_to 'Recent permalinks', controller: 'permalink', action: 'recent' %>
                </p>
                <p class="build-version">
                    <small class="gray footer-version">Version <%= @version %> (build <%= @build %>)</small>
                </p>
            </div>
        </div>
    </div>
    <%= render 'layouts/spinner' %>
    <%= render 'layouts/loader' %>
</footer>
