<section id="navidog">
    <div class="container">
        <div class="col-lg-6">
            <h1>What is this?</h1>
            <p>
                This site will help you discover the world <b>around you</b>.<br>
            </p>
            <p>
                Just started a vacation? <i>Check.</i> Traveling a lot? <i>Check.</i> Exchange student? Digital nomad? <i>Check and check!</i>
            </p>
            <p>
                Navihub can always help with your first steps in a new place:
                <ul>
                      <li><b>Explore</b> your neighborhood for new restaurants,</li>
                      <li><b>plan a route</b> to the nearest water park,</li>
                      <li>look for a <b>nearby</b> cafe,</li>
                      <li>find the <b>nearest</b> post office,</li>
                      <li>and <%= link_to 'much more', '/@/about', data: { no_turbolink: true } %>.</li>
                </ul>
            </p>
        </div>
        <div class="col-lg-6">
            <h1>Is it safe?</h1>
            <p>And should I give you my location?</p>
            <p>
                No worries! This site is <b>anonymous</b>. You don't even need to sign up or anything before using it.
            </p>
            <p>
                Also, it does not collect or store any personal or sensitive information. Not even your location history.<br/>
                Even for the <%= link_to 'registered users', {controller: "account", action: 'create'} %>, only nickname and password are required.
            </p>
            <p>
                You can read more about our privacy policy <%= link_to 'here', '/@/privacy-policy', data: { no_turbolink: true } %>. There is also <%= link_to 'cookie policy', '/@/cookie-policy', data: { no_turbolink: true } %> and a whole
                <%= link_to 'blog section', '/@/', data: { no_turbolink: true } %> where we address this issue.
            </p>
        </div>

    </div>
</section>
