<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="robots" content="<%= @page_robots %>" />
    <meta name="description" content="<%= @page_desc %>" />
    <meta name="keywords" content="<%= @page_keywords %>" />
    <meta name="author" content="<%= @page_author %>" />
    <meta name="google" content="notranslate" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0' />
    <%= csrf_meta_tags %>
    <!-- Title -->
    <% if 'homepage' == params[:controller] %>
    <title><%= @page_name %> | <%= @page_title %></title>
    <% else %>
    <title><%= @page_title %> | <%= @page_name %></title>
    <% end %>
    <!-- Favicon -->
    <%= favicon_link_tag 'logo/buildings_stroke_100x100.png' %>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/logo/icons/stroke/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/logo/icons/stroke/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/logo/icons/stroke/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/logo/icons/stroke/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/logo/icons/stroke/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/logo/icons/stroke/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/logo/icons/stroke/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/logo/icons/stroke/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/logo/icons/stroke/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/logo/icons/stroke/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/logo/icons/stroke/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/logo/icons/stroke/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/logo/icons/stroke/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="<%= @page_name %>"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/logo/icons/stroke/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/logo/icons/stroke/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/logo/icons/stroke/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/logo/icons/stroke/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/logo/icons/stroke/mstile-310x310.png" />
    <!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Font awesome cdn -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Facebook & Linkedin Meta -->
    <meta property="og:site_name" content="<%= @page_name %>" />
    <meta property="og:title" content="<%= @page_title %> | <%= @page_name %>" />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:description" content="<%= @page_desc %>" />
    <meta property="og:image" content="/assets/logo/buildings_stroke_500x500.png" />
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="<%= @page_name %>" />
    <meta name="twitter:url" content="<%= root_url %>" />
    <meta name="twitter:title" content="<%= @page_title %> | <%= @page_name %>" />
    <meta name="twitter:description" content="<%= @page_desc %>" />
    <meta name="twitter:image" content="/assets/logo/buildings_stroke_500x500.png" />
    <!-- Site verification -->
    <meta name="google-site-verification" content="<%= @google_site_verification %>" />
    <meta name="msvalidate.01" content="<%= @ms_site_verification %>" />
    <meta name="yandex-verification" content="<%= @yandex_site_verification %>" />
    <%= render 'layouts/noscript1' %>

</head>
