<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="burger-menu">
            <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <div id="marker-menu">
            <a href="#"><i class="fa fa-map-marker"></i></a>
        </div>
        <div class="navbar-header">
            <a href="/" class="navbar-brand" id="main-logo"><%= image_tag('logo/buildings_stroke_100x100.png', size: "50x50") %><div id="appname"><span><%= @page_name %> </span><small id="appname-beta">[beta]</small></div></a>
        </div>
        <div class="" id="navbar-main">
            <ul class="nav navbar-nav" id="menu-top">
                <li><%= link_to 'Search', controller: "search", action: "index" %></li>
                <li><%= link_to 'Favorites', controller: "favorites", action: "index" %></li>
                <li class="no-mobile-landscape"><%= link_to 'Blog', '/blog', data: { no_turbolink: true } %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="menu-alt">
                <li class="dropdown myacc-dropdown">
                    <% if logged_in %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="myacc-username"><%= username %></span> <b class="caret"></b></a>
                    <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="myacc-my">My</span> <span id="myacc-acc">acc</span><span id="myacc-ount">ount</span> <b class="caret"></b></a>
                    <% end %>
                    <ul class="dropdown-menu" id="dd-myaccount">
                        <% if logged_in %>
                        <li>
                            <%= link_to '<i class="fa fa-user fa--txt"></i> Manage account'.html_safe, {controller: "account", action: 'manage'}, class: 'acc-manage' %>
                        </li>
                        <li>
                            <%= link_to '<i class="fa fa-sign-out fa--txt"></i> Log me out'.html_safe, {controller: "account", action: 'logout'}, class: 'acc-logout', data: { no_turbolink: true } %>
                        </li>
                        <% else %>
                        <li>
                            <%= link_to '<i class="fa fa-sign-in fa--txt"></i> log me in'.html_safe, {controller: "account", action: 'login'}, class: 'acc-login' %>
                        </li>
                        <li>
                            <%= link_to '<i class="fa fa-user-plus fa--txt"></i> Create account'.html_safe, {controller: "account", action: 'create'}, class: 'acc-create' %>
                        </li>
                        <li class="divider social-divider"></li>
                        <li class="social-li">
                            <div class="social-btn">
                                <a class="btn btn-block btn-sm btn-social btn-facebook" href="<%= signin_with_facebook %>"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="social-btn">
                                <a class="btn btn-block btn-sm btn-social btn-twitter" href="<%= signin_with_twitter %>"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="social-btn">
                                <a class="btn btn-block btn-sm btn-social btn-google-plus" href="<%= signin_with_google_oauth2 %>"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="menu-loc">
                <li>
                    <div id="top-location">
                        <span class="top-location-top"><span>Location:</span> <span class="actual"><%= sanitize pretty_loc(@location) %></span></span><br />
                        <span class="top-location-bottom">
                            Not here?
                            <%= link_to 'change location', controller: "settings", action: 'location' %> |
                            <a class="top-location-autodetect autodetect-button" href="#">autodetect</a> |
                            <a class="top-location-lock loc-lock-button" href="#">lock</a>
                            <a class="top-location-unlock loc-unlock-button" href="#">unlock</a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
