<!DOCTYPE html>
<html lang="<%= @page_lang_cls %>">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="robots" content="<%= @page_robots %>" />
    <meta name="description" content="Explore the world around you with your browser." />
    <meta name="keywords" content="navihub, explore, maps, geolocation" />
    <meta name="author" content="Petr Nagy" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0' />
    <%= csrf_meta_tags %>
    <!-- Title -->
    <title>Navihub | Find stuff around you!</title>
    <!-- Favicon -->
    <!-- TODO -->
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Font awsome cdn -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Facebook & Linkedin Meta -->
    <meta property="og:site_name" content="Navihub">
    <meta property="og:title" content="Find stuff around you!">
    <meta property="og:url" content="<%= root_path %>">
    <meta property="og:description" content="Explore the world around you with your browser.">
    <!-- TODO -->
    <meta property="og:image" content="/assets/logo_square.png">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="Navihub">
    <meta name="twitter:url" content="<%= root_path  %>">
    <meta name="twitter:title" content="Find stuff around you!">
    <meta name="twitter:description" content="Explore the world around you with your browser.">
    <!-- TODO -->
    <meta name="twitter:image" content="/assets/logo_square.png">

    <!-- noscript #1 -->
    <noscript>
    <style type="text/css">
      div, footer { display: none; }
      noscript div { display: block !important; }
      body { color: #333; background: white; width: 500px; margin: 100px auto; }
      h1 { font: bold 47px/1.5 sans-serif; margin: .6em 0; }
      p { font: 21px/1.5 Georgia,serif; margin: 1.5em 0; }
      small { font-size: 70%; color: gray; }
    </style>
    </noscript>
    <!-- Scripts -->
    <% if @failsafe != true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% end %>
  </head>
  <body id="body" class="<%= @device_cls %> <%= @is_logged_in_cls %>">
    <!-- Inline scripts -->
    <script>
      var controller = '<%= params[:controller] %>';
      var action = '<%= params[:action] %>';
    </script>
    <!-- noscript #2 -->
    <noscript>
    <div>
      <h1>Javascript</h1>
      <p>We're sorry! This site requires JavaScript enabled to work properly.</p>
      <div class="form-group"><a target="blank" href="https://www.google.com/search?q=how+to+enable+javascript" class="btn btn-primary btn-lg">How to enable Javascript</a></div>
    </div>
    </noscript>
    <!-- Navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Navihub <small>[beta]</small></a>

        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav" id="menu-top">
            <li data-template="index"><%= link_to 'Search', controller: "search" %></li>
            <li data-template="index"><%= link_to 'About', controller: "search" %></li>
            <li data-template="index"><%= link_to 'Feedback', controller: "search" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="menu-alt">
            <li data-template="myaccount|settings" class="dropdown">
              TODO - dropdown
            </li>
            <li class="current-clock-wrap text-right"><a id="current-time" class="clock-small"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="container">
      <section id="yeld">
        <%= yield %>
      </section>
    </div>
    <footer>
      <div class="container footer">
        <hr class="footer">
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#body" class="scroll-top">Back to top</a></li>
              <li>&#169; 2013 - <%= Time.now.year %></li>
              <li><a target="blank" href="http://www.petrnagy.cz/">Petr Nagy</a></li>
              <li class="no-mobile no-smartphone">~</li>
              <li class="no-mobile no-smartphone"><a target="blank" rel="nofollow" href="http://about.me/petr.nagy">about.me</a></li>
              <li class="no-mobile no-smartphone"><a target="blank" rel="nofollow" href="https://twitter.com/petrnagy">tw</a></li>
              <li class="no-mobile no-smartphone"><a target="blank" rel="nofollow" href="http://www.linkedin.com/pub/petr-nagy/60/176/781">ln</a></li>
              <li class="no-mobile no-smartphone"><a href="https://plus.google.com/108570974371249066128?rel=author">g+</a></li>
              <li class="no-mobile no-smartphone"><a target="blank" rel="nofollow" href="https://www.facebook.com/petr.nagy">fb</a></li>
              <li class="no-mobile no-smartphone no-tablet"><a target="blank" rel="nofollow" href="http://knedlajz.deviantart.com/gallery/">da</a></li>
            </ul>
            <p class="no-mobile no-smartphone small">Starring:&nbsp;&nbsp;&nbsp; 
              <a target="_blank" rel="nofollow" href="https://www.ruby-lang.org/en/">#ruby</a> ~ 
              <a target="_blank" rel="nofollow" href="http://rubyonrails.org/">#rails</a> ~ 
              <a target="_blank" rel="nofollow" href="http://www.postgresql.org/">#postgresql</a> ~ 
              <a target="_blank" rel="nofollow" href="http://en.wikipedia.org/wiki/JavaScript">#js</a> ~ 
              <a target="_blank" rel="nofollow" href="http://coffeescript.org/">#coffeescript</a> ~ 
              <a target="_blank" rel="nofollow" href="http://jquery.com">#jquery</a> ~ 
              <a target="_blank" rel="nofollow" href="http://getbootstrap.com">#bootstrap</a> ~ 
              <a target="_blank" rel="nofollow" href="http://bootswatch.com">#bootswatch</a> ~ 
              <a target="_blank" rel="nofollow" href="http://git-scm.com">#git</a>
            </p>
            <p class="no-mobile no-smartphone small">Resources:&nbsp;&nbsp;&nbsp; 
              <a target="_blank" rel="nofollow" href="https://github.com/tobiasahlin/SpinKit">spinkit</a> ~ 
              <a target="_blank" rel="nofollow" href="http://theromancee.deviantart.com/art/Coffee-Cup-PSD-editable-381319610">coffee</a> ~ 
              <a target="_blank" rel="nofollow" href="http://wegraphics.deviantart.com/art/Apple-products-PSD-templates-177631984">macbook</a> ~
              <a target="_blank" rel="nofollow" href="http://www.elegantthemes.com/blog/resources/free-social-media-icon-set">icons</a>
            </p>
            <p class="text-center disclaimer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <br>
              feugiat lorem diam, sed euismod dolor faucibus eu. Donec varius <br>
              diam at elit ultricies aliquam.
            </p>
          </div>
        </div>

      </div>
    </footer>
    <!-- Spinner -->
    <div class="spinner" id="spinner" style="display: none;">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </body>
</html>