<!DOCTYPE html>
<html lang="<%= @page_lang_cls %>">
<%= render 'layouts/header' %>
<body id="body" data-no-turbolink="true" class="<%= @device_cls %> <%= @is_logged_in_cls %> c-<%= params[:controller] %> a-<%= params[:action] %>">
    <%= render 'layouts/inlines' %>
    <%= render 'layouts/noscript2' %>
    <%= render 'layouts/navbar' %>

    <!-- Content -->
    <div class="container">
        <section id="yield">
            <%= show_flashes %>
            <%= yield %>
        </section>
    </div>
    <%= render 'layouts/footer' %>
    <% unless Rails.env.development? %>
        <%= render 'layouts/analytics' %>
    <% end %>
</body>
</html>
